* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url(../assets/musicback.jpg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  min-height: 100vh;
}

.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero-content h2 {
  font-size: 48px;
  margin-bottom: 10px;
  color: #ff8177;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 20px;
  color: aqua;
}

.btn {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: crimson;
  transition: 1.5s ease;
}

.featured-playlists {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px 20px;
  text-align: center;
  color: beige;
}

.featured-playlists h2 {
  margin-bottom: 20px;
  font-size: 32px;
}

.playlist-grid {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.playlist-item {
  text-align: center;
  max-width: 200px;
}

.playlist-item img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}


@media screen and (max-width: 960px){
  .hero {
      text-align: center;
      padding: 40px 20px;
  }

  .hero-content h2 {
      font-size: 36px;
  }

  .playlist-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-items: center;
      align-content: center;
  }

  .playlist-item {
      text-align: center;
      max-width: 150px;
  }
  
  .playlist-item img {
      width: 100%;
      border-radius: 10px;
      margin-bottom: 10px;
  }
  
  footer {
      position: relative;
      width: 100%;
  }
}

@media screen and (max-width: 720px){
  .hero {
      text-align: center;
      padding: 40px 30px;
  }

}
