* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.playlist-body {
    font-family: Arial, sans-serif;
    background: url(../assets/musicback4.jpg) no-repeat center;
    color: #333;
    min-height: 100vh;
}

.playlist-section {
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  
.playlist-section h2 {
    margin: 0 0 2rem;
    color: red;
}
  
#myplaylist {
    list-style: none;
    padding: 0;
}
  
.track-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s;
}
  
.track-info:hover {
    background-color: #f1f1f1;
}

.plt-details {
    color: black;
    font-size: 18px;
    font-weight: 525;
}
  
.album-cover {
    width: 50px; 
    height: 50px; 
    border-radius: 5px;
    margin-right: 1rem;
}
  
.plt-details {
    flex-grow: 1;
}
  
.pt-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.pt-button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 720px){
    .playlist-section {
        padding: 0.5rem;
    }

    .playlist-section {
        text-align: center;
    }

    .pt-button {
        margin: 20px 5px;
    }

}
